<center>
    {{!-- <img> here burger image --}}
    <h2>Eat-Da-Burger!</h2>
    <div class="container"><img></div>
</center>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      {{#each burgers}}
         {{#unless devoured}}
           <div class="container">{{id}}. {{burger_name}}     <button id="devo" class="devour-button" data-id="{{id}}">Devour</button></div>  
        {{/unless}}
      {{/each}}   
    </div>

    <div class="col-md-3">
        {{#each burgers}}
        {{#if devoured}}
        <div class="container">
            {{burger_name}}
        </div>   
            {{/if}}
        {{/each}}
    </div>
</div>

<center>
    <div class="row">
        <div class="col-md-4"></div>
    <form class="create-burger">
        <div class="form-group col-md-4">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" rows="2" id="newburger"></textarea>
            <br>
            <button type="submit">Add a Burger</button>
        </div>
    </form>
    </div>
</center>
<script type="text/css">

    body {
    background-image: url("./img/burger.jpg");
 }

 
</script>