<center>
    {{!-- <img> here burger image --}}
    <h2 >Eat-Da-Burger!</h2>
    <div class="container"><img></div>
</center>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      {{#each burgers}}
         {{#unless devoured}}
          <div class="row burger" >
              <div class="col-md-9">
                  <p class="">{{id}}. {{burger_name}}</p> 
              </div>
              <div class="col-md-3">
                <span class="input-group-btn">
								<form method="POST" action="/api/burgers/update?_method=PUT">
									<input type="hidden" name="burger_id" value={{this.id}}>
									<button class="btn btn-m" type="submit"> Devour! </button>
								</form>
				</span>
            </div>
          </div>  
        {{/unless}}
      {{/each}}   
    </div>

    <div class="col-md-3">
        {{#each burgers}}
        {{#if devoured}}
            <div class="row burger" >
              <div class="col-md-9">
                  <p class="">{{burger_name}}</p> 
                  {{!-- <p class="">Test</p>  --}}
              </div>
          </div>   
            {{/if}}
        {{/each}}
    </div>
</div>

<center>
    <div class="row">
        <div class="col-md-4"></div>
    <form class="create-burger" action="api/burgers" method="POST">
        <div class="form-group col-md-4">
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" rows="2" id="newburger" name="burger_name"></textarea>
            <br>
            <button type="submit" class="btn btn-m">Add a Burger</button>
        </div>
    </form>
    </div>
</center>
 